# Compiled binaries
services/mock-plant/mock-plant
services/ws-gateway/ws-gateway
services/alert-service/alert-service
services/plant-manager/plant-manager

# Dependencies
node_modules/

# Build
/frontend/dist/

# Environment
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
